@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.blueBtn {
  @apply bg-[#003049] text-white rounded-md;
}
.blueBtn:hover {
  @apply bg-black; 
}

.redBtn{
  @apply bg-[#780000] text-white rounded-md;
}

.yellowBtn {
  @apply bg-yellow-500 text-black rounded-md;
}
.yellowBtn:hover {
  @apply bg-[#003049] text-yellow-500; 
}

.navActive {
  @apply pb-[1px] border-b-[2.5px] border-lightRed
}

/* Hide scrollbar for all browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.navbar-profile {
  position: relative;
}

.nav-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #FDF0D5;
  padding: 10px 18px;
  border-radius: 4px;
  border: 1px solid #C1121F;
  outline: 2px solid white;
}
