@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.blueBtn {
  @apply bg-blue text-white rounded-md;
}
.blueBtn:hover {
  @apply bg-[#002437]; 
}

.yellowBtn {
  @apply bg-yellow text-black rounded-md;
}
.yellowBtn:hover {
  @apply bg-blue text-yellow; 
}

.navActive {
  @apply pb-[1px] border-b-[2.5px] border-red
}